
.redAnswer:disabled {
  border-width: 3px;
  background: #8C1F28;
  color: #CCC;
} 

.greenAnswer:disabled {
  border-width: 3px;
  background: #044040;
  color: #CCC;
  
}

button {
  border: none;
  width: 50rem;
  padding: 2rem;
  margin-top: 1rem;
  font-size: 1.7rem;
  border-radius: 1rem;
}

button:hover {
  background-color: #eba417;
  border-color: 1px solid #eba417;
}

button:disabled {
  background-color: #CCC;
}

.div-questions {
  text-align: center;

}

/* @media(max-width: 1720px) {
  .img-fluid {
    height: 15rem;
  }
} */
  @media(max-width: 1280px) {
    .img-fluid {
      height: 13rem;
    }
    button {
      width: 45rem;
    }
  }

  @media(max-width: 800px) {
    .img-fluid {
      height: 12rem;
    }
  }

  @media(max-width: 500px) {
    .img-fluid {
      height: 10rem;
    }
    .div-questions button {
      width: 28rem;
      text-align: center;
    }
  }