/* .btn .btn-primary {
  border: none;
} */

.redAnswer:disabled {
  border-width: 3px;
  background: #8C1F28;
  color: #CCC;
} 

.greenAnswer:disabled {
  border-width: 3px;
  background: #044040;
  color: #CCC;
  
}

button {
  border: none;
  width: 50%;
  padding: 2rem;
  margin-top: 1rem;
  font-size: 1.7rem;
  border-radius: 1rem;
}

button:disabled {
  background-color: #CCC;
}

.div-questions {
  text-align: center;

}
