* {
  background-color: rgb(131, 129, 128);
}

.redAnswer {
  border: 3px solid red;
}

.greenAnswer {
  border: 3px solid rgb(6, 240, 15);
}

button {
  background-color: rgb(87, 4, 66);
  border: solid 1px grey;
  border-radius: 16px;
  color: white;
  display: inline-block;
  font-size: 16px;
  padding: 15px 32px;
  text-align: center;
}

input {
  background-color: white;
  border: solid 1px grey;
  border-radius: 220px;
  display: inline-block;
  font-size: 16px;
  padding: 15px 32px;
  text-align: center;
}

